<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>RoClans</title>

		<link rel="stylesheet" href="/css/style.css" type="text/css">
	</head>
	<body>
		<header>
			<% include templates/header.ejs %>
		</header>
			<% include templates/announcement.ejs %>
		<br><section id="placeList">
            <p class="comDesc">Welcome to the Noble Kingdom's grand archive!<br><br>These archives have been designed for the convenience of the clan community.<br><br>Join the community discord: <a href="https://discord.gg/rkv9jN6">RoClans</a></p>
            <p class="line"> </p><p class="comDesc">For forts, they are listed in order of population. The information tied to each fort is the weapon category, the clan that each fort is tied to, and how many people are playing. To add a fort to this archive, click the link below:<br><br>Add a fort: <a href="https://discord.gg/DR9dat9">#add_fort</a><br>Restrictions: <a href="https://docs.google.com/document/d/1q41jmuvwytGxOSJPySr36ddLc5M3jt_a2dho34nWu4Q/edit?usp=sharing">+document</a></p>
            <p class="line"> </p><p class="comDesc">For resources, we hand pick useful tools and scripts made for the community and reviewed by the owners. To add a resource to this archive, click the link below:<br><br>Add a resource: <a href="https://discord.gg/PcU2xCu">#add_resource</a></p>
			<p class="line"> </p><p class="comDesc">If you come across any issues or glitches, please report them by clicking the following link below:<br><br>Report a problem: <a href="https://discord.gg/pWz8mBM">#report_issue</a></p>
			<p class="line"> </p><p class="comDesc">Editor Note:<br>We recommend keeping the player maximum in forts to less than 40 if possible. Games are stable with high amounts of players, but they do not always perform at an optimal level for raids.
		</section>
		<br><footer>Contact us: https://discord.gg/fMb5y7T</footer>
	</body>
</html>