<br><p class="Announcement">
    Please give up to 24 hours for resource/fort requests due to early opening traffic.
</p>

<!-- Fort restrictions will apply starting April 1st. Restrictions can be found in "Community". -->