<br><p class="Announcement">
    Thank you all for your feedback! The UI will be updated in the near future. Any ideas? Please contact us! :)
</p>

<!-- Fort restrictions will apply starting April 1st. Restrictions can be found in "Community". -->